*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* .box{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid black;
    margin: 50px 50px;
    position: relative;
}
.box::after{
    content: "";
    width: 45px;
    height: 45px;
    background-color: black;
    border-radius: 50% 0 0 50%;
    position: absolute;
    left: 3px;
    transform: rotate(45deg);

} */
.box{
    display: flex;
    gap: 50px;
    position: relative;
    padding-left: 30px;
}
.box1{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: black;
    
}
.box2{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: black;
    
}
.box::after{
    content: "";
    width: 200px;
    height: 200px;
    border-radius: 50% 50% 55px 55px;
    position: absolute;
    left: 0;
    border: 4px solid black;
    margin-top: 15px;
}
.box::before{
    content: "";
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 20px;
    transform: skew(-50deg);

}
.box1::before{
    content: "";
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color:white;
    position: absolute;
    top: 20px;
    right: 0;
    left: 120px;
    transform: skew(50deg);

}
.eyes{
    display: flex;
    gap: 30px;
}
.eye{
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-color: black;
    transform: skew(-20deg);
    position: absolute;
    right: 0;
    left: 35px;
    bottom: 585px ;
}
.eye2{
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-color:black;
    transform: skew(20deg);
    position: absolute;
    right: 0;
    left: 115px;
    bottom: 585px ;
}

.ey{
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    transform: skew(20deg);
    position: absolute;
    top: 13px;
    right: 10px;
}
.ey::after{
    width: 25px;
    height: 25px;
    content: "";
    background-color:black;
    border-radius: 50%;
    position: absolute;
    top: 4px;
    left: 8px;


}
.ey1{
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    transform: skew(-20deg);
    position: absolute;
    top: 13px;
    right: 14px;
}
.ey1::after{
    width: 25px;
    height: 25px;
    content: "";
    background-color:black;
    border-radius: 50%;
    position: absolute;
    top: 4px;
    left: 8px;

}
.nose{
    width: 29px;
    height: 20px;
    background-color:black;
    position: absolute;
    top: 50px;
    left: 91px;
    margin-top: 80px;
    border-radius: 8px 8px 12px 12px;
}
.lip{
    display: flex;
    gap: 20px;
}
.lip1{
    width: 20px;
    height: 20px;
    background-color: white;
    position: absolute;
    top: 148px;
    left: 82px;
    border: 5px solid black;
    border-radius: 0 0 15px 0;
    transform: rotate(12deg);
}
.lip1::after{
    width: 20px;
    height: 20px;
    content: "";
    background-color:white;
    position: absolute;
    bottom: 0px;
    
    right: 1px;
    border-radius: 0 16px 10px 0;

}
.lip2{
    width: 20px;
    height: 20px;
    background-color: white;
    position: absolute;
    top: 148px;
    left: 105px;
    border: 5px solid black;
    border-radius: 0 0 0 15px;
    transform: rotate(-9deg);
}
.lip2::after{
    width: 20px;
    height: 17px;
    content: "";
    background-color: white;
    position: absolute;
    bottom: 0px;
    transform: rotate(-10deg);
    left: 4px;
    border-radius: 100% 0 0 16px;
}
.body1{
    width: 140px;
    height: 140px;
    background-color: black;
    margin-top: 173px;
    margin-left: 30px;
    position: relative;
    align-items: center;
    padding-top: 30px;
    border-radius: 5px 0 0 0 ;
}
.body1::after{
    width: 80px;
    height: 58px;
    content: "";
    background-color: black;
    position: absolute;
    top: 0;
    left: 123px;
    top: 14px;
    transform: rotate(25deg);
    border-radius: 0px 40px 25px 15px ;
}
.body1::before{
    width: 80px;
    height: 58px;
    content: "";
    background-color: black;
    position: absolute;
    top: 0;
    left: -60px;
    top: 14px;
    transform: rotate(-25deg);
    border-radius: 40px 2px 30px 25px;
}
.white{
    width: 120px;
    height: 100px;
    background-color: white;
    margin-left: 10px;
    border-radius: 50% 55% 40% 40%;
    
}

.footers{
    display: flex;
}
.footer1{
    width: 100px;
    height: 60px;
    background-color: black;
    border-radius: 30% 0 60% 20%;
    margin-left: 3px;
}
.footer2{
    width: 100px;
    height: 60px;
    background-color: black;
    border-radius: 0 30% 30% 60%;
    margin-left: 3px;
    
}